:root {
  --primary: #c971c9;
  --background: #c971c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  font-family: "Jersey 10";
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: hsl(333, 69%, 77%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-shadow: -4px -4px 0 #934f6e, 4px -4px 0 #934f6e, -4px 4px 0 #934f6e,
    4px 4px 0 #934f6e;
  color: hsl(333, 100%, 85%);
}

.character img {
  width: 200px;
  height: auto;
}

.timer {
  font-size: 60px;
  font-family: "Jersey 10";
  text-shadow: -3px -3px 0 #934f6e, 3px -3px 0 #934f6e, -3px 3px 0 #934f6e,
    3px 3px 0 #934f6e;
  transform: scale(1.4);
  margin-top: -50px;
  margin-bottom: 50px;
}

.buttons {
  transform: scale(1.2);
  display: flex;
  font-family: "Pixelify Sans";
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.btn-image {
  width: 140px;
  height: 40px;
  background: url("button.png") no-repeat center center;
  background-size: 100%;
  font-family: "Pixelify Sans";
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 212, 240);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 50%;
  background-position: center 43%;
}

.btn-image:hover {
  opacity: 0.8;
}

.start-btn {
  transform: scale(1.3);
  width: 140px;
  height: 50px;
  background: url("button.png") no-repeat center center;
  background-size: 100%;
  font-family: "Pixelify Sans";
  font-size: 13px;
  font-weight: bold;
  color: rgb(255, 212, 240);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 50%;
  background-position: center 43%;
}
.start-btn:hover {
  opacity: 0.8;
}
